<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/style.css">
        <title>Instagram Micro Service by dwsapp.io</title>
    </head>
    <body class="flexBox flexColumn">
        <header class="flexBox flexColumn">
            <h1>Instagram Micro Service by <a href="https://dwsapp.io" target="_blank">dwsapp.io</a></h1>
        </header>

        <main>
            <section id="instagramForm">
                <form class="flexBox spaceBetween">
                    <select name="type">
                        <option value="tag">Search a hashtag</option>
                        <option value="user">Search a user</option>
                    </select>
    
                    <ul class="flexBox">
                        <li><input type="text" name="keyword" required min="3" placeholder="Minimum 3 characters"></li>
                        <li><button type="submit"><i class="fas fa-search"></i></button></li>
                    </ul>
                </form>

                <aside id="apiRequestInfo">
                    <code>
                        <b>GET</b> <a href="https://instagram.dwsapp.io" target="_blank">https://instagram.dwsapp.io</a>
                    </code>
                </aside>
            </section>
            
            <section id="instagramResult">
                <h2 id="loadingText">Set up your request</h2>
            </section>  
        </main>

        <footer class="flexBox flexColumn">
            <p>Under <a href="https://en.wikipedia.org/wiki/WFPL" target="_blank">WFPL</a> - &copy; 2021 <a href="https://www.linkedin.com/in/julien-n-21219b28/" target="_blank">Julien Noyer</a> / <a href="https://dwsapp.io" target="_blank">dwsapp.io</a></p>
        </footer>

        <script src="./js/app.js"></script>
    </body>
</html>